A:link { FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited { FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:active { FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover { FONT-SIZE: 11px; COLOR: #ff8900; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
BODY { margin: 0px; FONT-SIZE: 12px; CURSOR: default; COLOR: #cccccc; BACKGROUND-color: #0f0f0f; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.linked-image { margin: 0px; padding: 0px; border: 0px;}
.resized-linked-image { margin: 1px 0px 0px 0px; padding: 0px; background-color: #000; border: 0px; color: #FFF; font-size: 10px; width: auto; -moz-border-radius-topleft: 7px; -moz-border-radius-topright: 7px;}
.resized-linked-image-zoom { width: 200px; height: 30px; background-color: #FFF; padding-top: 6px; padding-left: 5px; top: 0px; left: 0px; position: absolute; display: none;}
#highlighted { background-color: #0f0f0f;}
#highlighted tr:hover { background-color: #F5FBE1;}
#tooltip {
   position:absolute;
   border:1px solid #555;
   background-color: #eee;
   padding:2px 5px;
   color:#555;
   border-left: 7px solid #555;
   display:none;
   z-index: 100;
}  
.error { color: #990000; background-color: #FFF0F0; padding: 7px; margin-top: 5px; margin-bottom: 10px; border: 1px dashed #990000;}
.error b { color: #990000; background: inherit;}
.success { color: #000000; background: #F5FBE1; padding: 7px; margin-top: 5px; margin-bottom: 5px; border: 1px dashed #7BA813;}
.success b { color: #7BA813; background: inherit;}
.editor { margin: 0px 0px 1px 0px; width: 400px; height: 21px; border: 1px #FFFFFF solid;}
.editorinput { background: #0f0f0f; color: #FFFFFF; border: 1px #D1D8EC solid; font-size: 11px; font-family: Verdana, Helvetica; text-decoration: none; background: #0f0f0f url(images/edit_backround.gif) top center; background-repeat: no-repeat;}
.editorbutton { float: left; cursor: pointer; padding: 2px 1px 0px 5px;}
code { background: none; color: #0000FF; font-size: 11px; font-family: Verdana, Helvetica;}
.code { color: #0000BB; font-size: 11px; font-family: Verdana, Helvetica;}
a.copyright:link, a.copyright:visited, a.copyright:active { text-decoration: none; color: #FFFFFF; border-top: dashed 1px #FF8990; padding: 0px;}
td.pager { background-color: #FFFFFF; border: 1px solid #9CA4B0; padding: 2px;}
td.pagebr { background-color: #0f0f0f; border: 0px; padding: 0px;}
td.highlight { background-color: #EFEEE6; border: 1px solid #9CA4B0; padding: 2px;}
hr { height: 0px; border: solid #FF8900 0px; border-top-width: 1px;}
table { border-collapse: collapse; FONT-SIZE: 8pt; COLOR: #cccccc; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
table.main { background-color: #0f0f0f;}
table.mainouter { background-color: #0f0f0f; border: 0px;}
table.bottom { color: #FFFFFF; background: transparent;}
table.main2 { background-color: #0f0f0f; border: 0px;}
table.blok { background-color: #0f0f0f;}
H1 { FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cccccc; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
h2 { background-color: #333333; font-size: 9pt; height: 18px; text-align: center;}
.topnav { height: 31px;}
h3 { font-size: 10pt; margin-bottom: 0px; text-align: center;}
p { font-size: 8pt;}
p.sub { margin-bottom: 4pt;}
td { font-size: 8pt; border: none;}
TD.content { BORDER-RIGHT: #707070 1px solid; BORDER-TOP: #FFFFFF 1px solid; BORDER-BOTTOM: #707070 1px solid; BORDER-LEFT: #FFFFFF 1px solid; FONT-SIZE: 12px; COLOR: #cccccc; BACKGROUND-COLOR: #0f0f0f; TEXT-DECORATION: none; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;}
TD.extra { BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid; BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid;}
td.block { font-size: 8pt; border: 0px;}
td.right_menu { border: 0px;}
td.commenttable { background-color: #FFFEF2;}
TD.story { background:#F0F0F0; color:#cccccc; font:11px Verdana,Arial,Helvetica,sans-serif; BORDER-RIGHT: #707070 1px solid; BORDER-TOP: #FFFFFF 1px solid; BORDER-BOTTOM: #707070 1px solid; BORDER-LEFT: #FFFFFF 1px solid;}
td.embedded { border: none; text-align: left;}
td.bottom { border: none;}
td.heading { font-weight: bold;}
td.text { padding: 10pt; text-align: left;}
td.comment { padding: 10pt; font-size: 8pt; text-align: left;}
td.colhead { font-weight: bold; text-align: center; color: #FF9900; background-color: #333333; height: 23px;}
td.rowhead { font-weight: bold; text-align: right; vertical-align: top;}
td.title { font-size: 14pt;}
td.navigation { font-weight: bold; font-size: 10pt; border: none;}
form { margin-top: 0; margin-bottom: 0;}
.sublink { font-style: italic; font-size: 7pt; font-weight: normal;}
a.index { font-weight: bold;}
a.biglink { font-weight: bold; font-size: 12pt;}
a.online:link, a.online:visited { font-weight: normal; text-decoration: none;}
a.menu:link, a.menu:visited { font-weight: normal;}
a.menu:active { color: #FF8900;}
a.menu:hover { background-color: #FF8900; color: #000000;}
a.menu { display:block; padding:3px; text-align:left; text-decoration:none; background-color: #0f0f0f; font-weight: normal; border-top: 1px solid #FF8900;}
a.altlink_white:link, a.altlink_white:visited { font-weight: bold; color: #ff8b20; text-decoration: underline;}
a.altlink_white:hover { text-decoration: underline;}
.important { font-weight: bold; font-size: 8pt;}
div.popup {position:absolute; top:0px; left:0px; width:170px; height:85px; border:1px solid black; display:none; background-color:#ffffff;}
.red { color: #ee0000;}
.yellow { color: #997700;}
.black { color: white;}
.green { color: #000000;}
input, select, textarea { margin-top: 3px; margin-bottom: 0px; font-family: "tahoma"; font-size: 8pt;}
.small { font-size: 7pt;}
.big { font-size: 10pt;}
li { margin-top: 6pt; margin-bottom: 6pt;}
ul { margin-left: 16pt; margin-top: 0px; margin-bottom: 0px;}
.startmenu{ font-weight:bold; text-align:center; padding:2px; margin: 0px;}
.menutitle{ font-weight:bold; text-align:center; color: #7E110E; margin: 2px; background-color: #FFC58C;}
input.button{ border: solid #FFC58C 1px; background-color: #FFC58C;}
td.a { background-color : #333333; padding : 6px; font-family : Verdana, Helvetica, sans-serif; font-size : 8pt; border-style : solid; border-width : 1px 1px 1px;}
td.b { background-color : #505050; padding : 6px; font-family : Verdana, Helvetica, sans-serif; font-size : 8pt; border-style : solid; border-width : 1px 1px 1px;}
div#ajaxerror { background: #FFDDDD url(images/err.gif) no-repeat 5px 50%; padding:5px 5px 5px 24px; text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif; color:#333; font-size:11px;}
div#ajaxsuccess { background: #E7FFCE url(images/succ.gif) no-repeat 5px 50%; padding:5px 5px 5px 24px; text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif; color:#333; font-size:11px;}

.row1 {
  text-align: left;
  background-color: #333333;
  padding: 4px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 0;
  width: auto;
}
.row2 {

  background-color: #333333;
  padding: 4px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 0;
  width: auto;
}
.row3 {
  background-color : #333333;
  margin : 4px;
  padding : 10px;
  border-width : 0px;
  width: auto;
}
.paginator{margin-top:2px;font-size:2em;width:auto}
.paginator table{border:0}
.paginator table td{white-space:nowrap;text-align:center;border:0;padding:0}
.paginator span{display:block;color:#fff;padding:3px 0}
.paginator span strong,.paginator span a{color:#ebc21e; border-top:1px solid #eee;border-left:1px solid #eee;-moz-border-radius-bottomright:7px;-moz-border-radius-topleft:7px;padding:2px 10px;background:#333333}
.paginator span a:hover{border:1px solid #c2e1ef;color:#ffffff;background:#c3c3c3}
.paginator span a:active{border:1px solid #6299c5;color:#fff;background:#6299c5}
.paginator span strong{font-style:normal;font-weight:400;background:#0f6cee}
.paginator .scroll_bar{width:100%;height:20px;position:relative;margin-top:6px}
.paginator .scroll_trough{width:100%;height:3px;overflow:hidden;background:#ccc}
.paginator .scroll_thumb{position:absolute;z-index:2;width:0;height:3px;top:0;left:0;font-size:1px;background:#f87231}
.paginator .scroll_knob{position:absolute;top:-5px;left:50%;margin-left:-10px;width:20px;height:20px;overflow:hidden;cursor:pointer;background:url(/pic/slider_knob.gif) no-repeat 50% 50%}
.paginator .current_page_mark{position:absolute;z-index:1;top:0;left:0;width:0;height:3px;overflow:hidden;background:#ff6c24}.fullsize .scroll_thumb{display:none}.paginator_pages{width:auto;text-align:right;font-size:.8em;color:gray;margin-top:-10px}



.spoiler-wrap {
	width: 99%;
	margin: 3px auto;
	padding: 1px 0px 1px;
	clear: both;
	background: #E9E9E6;
	border: solid #C3CBD1;
	border-width: 1px 1px 1px 1px;
}
.spoiler-head {
   color: black;
	padding: 2px 0px 3px;
	margin-left: 6px;
	line-height: 12px;
	font-weight: bold;
}
.spoiler-body {
	padding: 5px 5px 5px 5px;
	display: none;
	border-top: 1px solid #C3CBD1;
	background: #F5F5F5;
}
.spoiler-body_ {
	width: 99%;
	padding: 1px 3px 1px 3px;
	display: none;
	border: solid #C3CBD1;
	border-width: 1px 1px 1px 1px;
	background: #E9E9E6;
	margin: 3px auto;
}
.clickable {
	cursor: pointer;
}
.folded {
	display: block;
	background: transparent url(/pic/plus.gif) no-repeat left center;
	padding-left: 14px; 
}
.unfolded {
	display: block;
	background: transparent url(/pic/minus.gif) no-repeat left center;
	padding-left: 14px;
}


input.btn:hover {
background-color: #FF8900; color: #000000;
padding:1px; text-decoration: none;
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
width: auto;
}

input.btn {
background: none no-repeat top center;
border: 1px solid #FF8900;
cursor: pointer;
color: white;
padding:1px; text-decoration: none;
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
width: auto;
}
.keyboardLayout {
position: absolute; margin: 1px 0 0 -20px; margin-top: 2px; width: 17px; height: 20px; color: #999; text-align: right;}

input.searchgif {
background:#FFFFFF url(/pic/browse/search.gif) no-repeat scroll 0 50%;
color:#000000;
padding-left:18px;
}

#poll_container {
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#poll_title {
	font-size: 14px;
	font-weight:bold;
	border:none;
	text-align:center;
}
.barmax, .bar {
	border:1px solid #c1bcbc;
	padding-left:2px;
	padding-right:2px;
}
.bar {
	margin: 0px;  COLOR: #2F2F2F;  BACKGROUND-color: #d6d6d6; TEXT-DECORATION: none
}
.barmax {
	background: #ff6600;
}


#daGalBg {z-index: 300007; background:#2b2b2b; position:fixed; top:0; left:0; width:100%; height:100%; opacity:0.3; -ms-filter:"alpha(opacity=30)"; filter:alpha(opacity=30); //position:absolute; top:expression(eval(document.body.scrollTop)+'px'); height:expression(eval(document.body.clientHeight)+'px')}
#daGalContainer {border-collapse:collapse; position:absolute; background:#fff; border:1px solid #ddd; z-index:300009; height:200px; width:300px; top:0; left:0}
#daGalContainer .daTools {height:40px; padding:10px 10px 0 10px}
#daGalContainer .daImg {padding:10px; text-align:center; vertical-align:middle; color:#f00}
#daGalContainer .daPrev, #daGalContainer .daLupa, #daGalContainer .daNext, #daGalContainer .daClose {display:block; height:32px; width:32px} 
#daGalContainer .daClose {background:url('/pic/misc.png') no-repeat 0 top; float:right}
#daGalContainer .daPrev {background:url('/pic/misc.png') no-repeat -32px top; float:left; margin:0 20px 0 0; display:none}
#daGalContainer .daNext {background:url('/pic/misc.png') no-repeat -64px top; float:left; margin:0 20px 0 0; display:none}
#daGalContainer .daLupa {background:url('/pic/misc.png') no-repeat -96px top; float:left; margin:0 20px 0 0; display:none}
#daGalContainer .daDesc { padding:0; margin:10px 0 0 0; font:bold 12px "free sans",Tahoma,Arial,Helvetica,sans-serif; text-align:left; color:#000}
.daGalLoad {background:url('/pic/loading.gif') no-repeat center center}