body { font-family: Tahoma, Verdana; font-size: 11px; color: #333333; background-color: #ffffff; line-height: 170%; margin: 0px; padding: 0px; background-image: url(images/bg.gif); background-repeat: repeat-x;
}
img { border: 0px;}
.topnav { text-decoration: none; background-image: url(images/topnav.gif); background-repeat: repeat-x; width:20px; height:40px;}
.linked-image { margin: 0px; padding: 0px; border: 0px;}
.resized-linked-image { margin: 1px 0px 0px 0px; padding: 0px; background-color: #000; border: 0px; color: #FFF; font-size: 10px; width: auto; -moz-border-radius-topleft: 7px; -moz-border-radius-topright: 7px;}
.resized-linked-image-zoom { width: 200px; height: 30px; background-color: #FFF; padding-top: 6px; padding-left: 5px; top: 0px; left: 0px; position: absolute; display: none;}
#hr1{ background-image: url(images/hr1.gif); font-size: 9pt; color:#fff; font-family: "tahoma"; border:0px; height:50px;}
#highlighted { background-color: #F5F5F5;}
#highlighted tr:hover { background-color: #D9EDFA;}
#tooltip {
   position:absolute;
   border:1px solid #555;
   background-color: #eee;
   padding:2px 5px;
   color:#555;
   border-left: 7px solid #555;
   display:none;
   z-index: 100;
}  
.error { color: #990000; background-color: #FFF0F0; padding: 7px; margin-top: 5px; margin-bottom: 10px; border: 1px dashed #990000;}
.error b { color: #990000; background: inherit;}
.success { color: #000000; background: #F5FBE1; padding: 7px; margin-top: 5px; margin-bottom: 5px; border: 1px dashed #7BA813;}
.success b { color: #7BA813; background: inherit;}
.editor { margin: 0px 0px 1px 0px; width: 400px; height: 21px; border: 1px #D1D8EC solid;}
.editorinput { background: #FAFAFA; color: #000000; border: 1px #D1D8EC solid; font-size: 11px; font-family: Verdana, Helvetica; text-decoration: none; background: white url(images/edit_backround.gif) top center; background-repeat: no-repeat;}
.editorbutton { float: left; cursor: pointer; padding: 2px 1px 0px 5px;}
code { background: none; color: #0000FF; font-size: 11px; font-family: Verdana, Helvetica;}
.code { color: #0000BB; font-size: 11px; font-family: Verdana, Helvetica;}
a.copyright:link, a.copyright:visited, a.copyright:active { text-decoration: none; color: #FFFFFF; border-top: dashed 1px #5087AD; padding: 0px;}
table { border-collapse: collapse; border: none; background-color: #F5F5F5;}
table.main { background-color: #F5F5F5;}
table.mainouter { background-color: #FFFFFF; border: 0px;}
table.bottom { background: transparent;}
table.main2 { background-color: #F5F5F5; border: 0px;}
table.blok { background-color: #F5F5F5;}
h1 { font-size: 12pt; text-align: center;}
h2 { background-image: url(images/header.gif); font-size: 10pt; margin-bottom: 0px; margin-top: 5px; height: 18px; border-width: 0px; border-style: solid solid none solid; text-align: center; color: #FFFFFF;}
.topnav { background-image: url(images/topnav.gif); padding: 5px;}
h3 { font-size: 10pt; margin-bottom: 5px; text-align: center;}
p { font-size: 8pt;}
p.sub { margin-bottom: 4pt;}
td { font-size: 8pt; border: 1px solid #DDDDDD;}
.logo { height:129px; background-image:url(images/bg.gif); background-repeat:repeat-x; border: none;}
td.menu_r { width:6px; height:24px; background-image:url(images/menu_r.gif); background-position: left top; border: none;}
IMG.mid
{ padding-right: 10; float: right;}
td.menu_l { width:6px; height:24px; background-image:url(images/menu_l.gif); background-position: right top; border: none;}
td.btl { width:32px; height:40px; background-image:url(images/news_cellpic_left.gif); border: none;}
td.btr { width:32px; height:40px; background-image:url(images/news_cellpic_right.gif); border: none;}
td.btm { font-family: tahoma; font-size: 11px; font-weight:bold; text-align: center; color:#FFFFFF; height: 24px; padding: 5px 2px 9px 2px; background-image: url(images/news_cellpic.gif); background-repeat: repeat-x; border: none;}
td.btl_d { width:17px; height:17px; background-image:url(images/news_cellpic_left_d.gif); border: none;}
td.btr_d { width:17px; height:17px; background-image:url(images/news_cellpic_right_d.gif); border: none;}
td.btm_d { height:17px; background-image: url(images/news_cellpic_d.gif); background-repeat: repeat-x; border: none;}
td.bol { width:17px; background-image:url(images/bol.gif); background-repeat:repeat-y; border: none;}
td.bor { width:17px; background-image:url(images/bor.gif); background-repeat:repeat-y; border: none;}
td.bbl { width:17px; height:17px; background-image:url(images/bbl.gif); border: none;}
td.bbr { width:17px; height:17px; background-image:url(images/bbr.gif); border: none;}
td.bbm { height:17px; background-image:url(images/bbm.gif); background-repeat:repeat-x; border: none;}
td.block { font-size: 8pt; border: 0px; background-color: #F5F5F5;}
td.block2 { font-size: 8pt; border: none; text-align: left; background-color: #F5F5F5;}
td.right_menu { border: 0px;}
td.commenttable { background-color: #FFFEF2;}
td.embedded { border: none; text-align: left; background-color: #F5F5F5;}
td.embedded2 { border: none; text-align: left; background-color: #2D333F;}
td.bottom { border: none;}
td.heading { font-weight: bold;}
td.text { padding: 10pt; text-align: left; background-color: #F5F5F5; border: none;}
td.comment { padding: 10pt;  font-family: Verdana, Helvetica; text-decoration: none; font-size: 8pt; text-align: left;}
td.colhead { font-size: 12px; font-weight: bold; color: #FFFFFF; background-image: url(images/header.gif);}
td.rowhead { font-weight: bold; text-align: left; vertical-align: top;}
td.title { font-size: 14pt;}
td.navigation { font-weight: bold; font-size: 10pt; border: none;}
td.pager { background-color: #F5F5F5; border: 1px solid #9CA4B0; padding: 2px;}
td.pagebr { background-color: #F5F5F5; border: 0px; padding: 0px;}
td.highlight { background-color: #F5F5F5; border: 1px solid #9CA4B0; padding: 2px;}
td.tablea { border: 0px;}
td.banner { font-size: 11px; border: solid #E2E2E2 0px; background-repeat: no-repeat; max-height: 24px; background-color: #5E6A83;}
td.a { background-color : #ececec; padding : 6px; font-family : Verdana, Helvetica, sans-serif; font-size : 8pt; border-style : solid; border-width : 1px 1px 1px;}
td.b { background-color : #f7f7f7; padding : 6px; font-family : Verdana, Helvetica, sans-serif; font-size : 8pt; border-style : solid; border-width : 1px 1px 1px;}
hr { height: 0px; border: solid #00314D 0px; border-top-width: 1px;}
form { margin-top: 0; margin-bottom: 0;}
.sublink { font-style: italic; font-size: 7pt; font-weight: normal;}
a,a:link,a:active,a:visited { text-decoration: none; color : #667799;}
a:hover { text-decoration: none; color : #224466;}
a.index { font-weight: bold;}
a.biglink { font-weight: bold; font-size: 12pt;}
a.online:link, a.online:visited { font-weight: normal; text-decoration: none;}
a.menu:link, a.menu:visited { font-weight: normal;}
a.menu:active { color: #516A88;}
a.menu:hover { border-left-width: 7px; border-left-style: solid; border-left-color: #F5F5F5; color: #224466; font-weight: bold;}
a.menu { display:block; padding:3px; text-align:left; text-decoration:none; font-weight: normal; color: #667799;}
a.altlink_white:link, a.altlink_white:visited { font-weight: bold; color: #FFFFFF; text-decoration: none;}
a.altlink_white:hover { text-decoration: none; color: #C5C5C5;}
.important { font-weight: bold; font-size: 8pt;}
div.popup {position:absolute; top:0px; left:0px; width:170px; height:85px; border:1px solid black; display:none; background-color:#ffffff;}
.red { color: #ee0000;}
.yellow { color: #997700;}
.green { color: #000000;}
input, file, select, textarea { margin-top: 3px; background-color: #FFFFFF; margin-bottom: 0px; font-family: "tahoma", "arial", "helvetica", "sans-serif"; font-size: 8pt; border: solid #5E6A84 1px;}
.small { font-size: 7pt;}
.big { font-size: 10pt;}
li { margin-top: 6pt; margin-bottom: 6pt;}
ul { margin-left: 16pt; margin-top: 0px; margin-bottom: 0px;}
div.hide {padding-bottom: 30px}
.startmenu{ font-weight:bold; text-align:center; padding:2px; margin: 0px; background-image: url(images/menu_head.gif);}
.menutitle{ font-weight:bold; text-align:center; color: #7E110E; margin: 2px; background-color: #FFC58C;}
input:focus { border: 1px solid #FF8705; color: #4b4b4b;}
textarea:focus { border: 1px solid #FF8705; color: #4b4b4b;}
input.pass
{ background: url(images/pass.gif) no-repeat; background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px;}
input.login
{ background: url(images/login.gif) no-repeat; background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px;}
input.search
{ background: url(images/search.gif) no-repeat; background-color: #fff; background-position: 0 50%; color: #000; padding-left: 18px;}
.pageEnd { padding: 10px; color: #FFFFFF; background-color: #689DD4;}
.field_banner { color: #FFFFFF; background-image: url(images/field_banner.gif); background-repeat: no-repeat; height: 40px; padding-top: 5px; padding-right: 0px; padding-bottom: 9px; padding-left: 0px; width: 221px; border: 0px; vertical-align: middle; text-align: center;}
.field_bg { background-image: url(images/field_bg.gif); background-repeat: repeat-y; padding-left: 15px; padding-right: 15px; border: 0px;}
.noborder { border: none;}


.row1 {
  text-align: left;
  background-color: #f7f7f7;
  padding: 4px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 0;
  width: auto;
}
.row2 {

  background-color: #ececec;
  padding: 4px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 0;
  width: auto;
}
.row3 {
  background-color : #f7f7f7;
  margin : 4px;
  padding : 10px;
  border-width : 0px;
  width: auto;
}
#tabs{padding-top: 7px} 
#tabs span{position: relative;border-bottom: 1px solid #FAFAFA !important;top: -1px;-webkit-border-top-left-radius: 4px;-webkit-border-top-right-radius: 4px;-moz-border-radius-topleft: 4px;-moz-border-radius-topright: 4px;border-top-left-radius: 4px;border-top-right-radius: 4px;}
#tabs span:hover{background: #FAFAFA;}
.active{color: #C60000;}

.paginator{margin-top:2px;font-size:2em;width:100%;}
.paginator table{border:0}
.paginator table td{white-space:nowrap;text-align:center;border:0;padding:0}
.paginator span{display:block;color:#fff;padding:3px 0}
.paginator span strong,.paginator span a{border-top:1px solid #eee;border-left:1px solid #afaeae;-moz-border-radius-bottomright:7px;-moz-border-radius-topleft:7px;padding:2px 10px;background:#f5f5f5}
.paginator span a:hover{border:1px solid #0f6cee;color:#369;background:#eaeaf9}
.paginator span a:active{border:1px solid #6299c5;color:#fff;background:#6299c5}
.paginator span strong{font-style:normal;font-weight:400;background:#0f6cee}
.paginator .scroll_bar{width:100%;height:20px;position:relative;margin-top:6px}
.paginator .scroll_trough{width:100%;height:3px;overflow:hidden;background:#ccc}
.paginator .scroll_thumb{position:absolute;z-index:2;width:0;height:3px;top:0;left:0;font-size:1px;background:#363636}
.paginator .scroll_knob{position:absolute;top:-5px;left:50%;margin-left:-10px;width:20px;height:20px;overflow:hidden;cursor:pointer;background:url(/pic/slider_knob.gif) no-repeat 50% 50%}

.paginator .current_page_mark{position:absolute;z-index:1;top:0;left:0;width:0;height:3px;overflow:hidden;background:#ff6c24}

.fullsize .scroll_thumb{display:none}
.paginator_pages{width:auto;text-align:right;font-size:.8em;color:gray;margin-top:-10px}


.spoiler-wrap {
	width: 99%;
	margin: 3px auto;
	padding: 1px 0px 1px;
	clear: both;
	background: #E9E9E6;
	border: solid #C3CBD1;
	border-width: 1px 1px 1px 1px;
}
.spoiler-head {
	padding: 2px 0px 3px;
	margin-left: 6px;
	line-height: 12px;
	font-weight: bold;
}
.spoiler-body {
	padding: 5px 5px 5px 5px;
	display: none;
	border-top: 1px solid #C3CBD1;
	background: #F5F5F5;
}
.spoiler-body_ {
	width: 99%;
	padding: 1px 3px 1px 3px;
	display: none;
	border: solid #C3CBD1;
	border-width: 1px 1px 1px 1px;
	background: #E9E9E6;
	margin: 3px auto;
}
.clickable {
	cursor: pointer;
}
.folded {
	display: block;
	background: transparent url(/pic/plus.gif) no-repeat left center;
	padding-left: 14px; 
}
.unfolded {
	display: block;
	background: transparent url(/pic/minus.gif) no-repeat left center;
	padding-left: 14px;
}

input.btn:hover {
color: black;
cursor: pointer;
background: #ddd;border:1px #bbb dashed; 
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
width: auto;
}

.keyboardLayout {position: absolute; margin: 1px 0 0 -20px; margin-top: 2px; width: 17px; height: 20px; color: #999; text-align: right;}

input.btn {
background: none no-repeat top left;
cursor: pointer;
padding:1px; text-decoration: none;
-moz-border-radius-bottomleft:7px;
-moz-border-radius-bottomright:7px;
-moz-border-radius-topleft:7px;
-moz-border-radius-topright:7px;
width: auto;
}

input.searchgif {
background:#FFFFFF url(/pic/browse/search.gif) no-repeat scroll 0 50%;
color:#000000;
padding-left:18px;
}




#poll_container {
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#poll_title {
	font-size: 14px;
	font-weight:bold;
	border:none;
	text-align:center;
}
.barmax, .bar {
	border:1px solid #c1bcbc;
	padding-left:2px;
	padding-right:2px;
}
.bar {
	margin: 0px;  COLOR: #cccccc;  BACKGROUND-color: #d6d6d6; TEXT-DECORATION: none
}
.barmax {
	background: #4277ff;
}


#daGalBg {z-index: 300007; background:#2b2b2b; position:fixed; top:0; left:0; width:100%; height:100%; opacity:0.3; -ms-filter:"alpha(opacity=30)"; filter:alpha(opacity=30); //position:absolute; top:expression(eval(document.body.scrollTop)+'px'); height:expression(eval(document.body.clientHeight)+'px')}
#daGalContainer {border-collapse:collapse; position:absolute; background:#fff; border:1px solid #ddd; z-index:300009; height:200px; width:300px; top:0; left:0}
#daGalContainer .daTools {height:40px; padding:10px 10px 0 10px}
#daGalContainer .daImg {padding:10px; text-align:center; vertical-align:middle; color:#f00}
#daGalContainer .daPrev, #daGalContainer .daLupa, #daGalContainer .daNext, #daGalContainer .daClose {display:block; height:32px; width:32px} 
#daGalContainer .daClose {background:url('/pic/misc.png') no-repeat 0 top; float:right}
#daGalContainer .daPrev {background:url('/pic/misc.png') no-repeat -32px top; float:left; margin:0 20px 0 0; display:none}
#daGalContainer .daNext {background:url('/pic/misc.png') no-repeat -64px top; float:left; margin:0 20px 0 0; display:none}
#daGalContainer .daLupa {background:url('/pic/misc.png') no-repeat -96px top; float:left; margin:0 20px 0 0; display:none}
#daGalContainer .daDesc { padding:0; margin:10px 0 0 0; font:bold 12px "free sans",Tahoma,Arial,Helvetica,sans-serif; text-align:left; color:#000}
.daGalLoad {background:url('/pic/loading.gif') no-repeat center center}